version: '3.8'

services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=gizlisifre
      - POSTGRES_DB=voting_db

  web:
    build: ./app
    command: python main.py
    volumes:
      - ./app:/app
    expose:
      - 5000
    environment:
      - DATABASE_URL=postgresql://admin:gizlisifre@db:5432/voting_db
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  postgres_data: